@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Signup</h1>


<form class="table table-bordered">

    <div class="container">
        <label for="fname"><b>FirstName</b></label>
        <input type="text" placeholder="Enter Firstname" name="fname" required>
        <label for="lname"><b>LastName</b></label>
        <input type="text" placeholder="Enter Lastname" name="lname" required>
    </div>
    <div>
        <label for="email"><b>Email</b></label>
        <input type="email" placeholder="Enter Email" name="email" required>
    </div>
    <div>
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required>
    </div>
    <div>
        <label for="cpsw"><b>Confirm Password</b></label>
        <input type="password" placeholder="Enter Confirm Password" name="cpsw" required>
    </div>
    <div>
        <button type="submit">Submit</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>

    </div>

  
</form>